.vscode
settings.json
.DS_Store
.ipynb_checkpoints
*checkpoint.ipynb
__pycache__
*.pyc
*.log
*.bak
.idea
dstc7.egg-info/*
*.ipynb
logs/
output/
slicetxt/MRPC
slicetxt/WNLI
BERT_BASE_DIR/8-3
BERT_BASE_DIR/uncased_L-12_H-768_A-12
README.md